{
    email {env.CADDY_EMAIL}
}

serranito.acerohernan.com {
    root * /srv
    encode zstd gzip
    file_server

    @spa {
        file {
            try_files {path} /index.html
        }
    }
    handle @spa {
        rewrite * /index.html
    }

    reverse_proxy /api/* http://api-rest:8080
}
