{
    email {env.CADDY_EMAIL}
    default_sni serranito.acerohernan.com
}

serranito.acerohernan.com {
    root * /srv
    encode zstd gzip
    file_server

    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
    }

    try_files {path} /index.html
}

api-serranito.acerohernan.com {
    reverse_proxy api-rest:8080
}